<h1>Frequently Asked Questions</h1>

<ul class='disc-list'>
  <li>Who we are</li>
  <li>How Loop de Luxe works</li>
  <li>Helpful Hints</li>
  <li>Payment</li>
  <li>Returns</li>
  <li>Shipping</li>
  <li>Support</li>
</ul>

<div id='who-we-are'>
  <h3>Who we are:</h3>
  <ol class='roman-list'>
    <li><b>What is Loop de Luxe?</b><br />
    We are a one-of-a-kind, currated boutique with a simple philosophy; We love great  design with a story.  And we want to share it with you (and at the best possible price).<br />
    We want to hear from you and learn from you on our In the Loop Blog where you can share fantastic new local designers, striking styles, and even photos of your latest travels and delights along the way!<br />
               Our Team:<br />
    We are as diverse as our designers and members - some of us have been architects, others have started successful clothing lines of our own, and some are creative developers.  What’s our common binding thread?  We all love design!!
    </li>
    <li><b>Do sales take place offline, at a physical location?</b><br />
    Unless specified, sales happen online</li>
    <li><b>Is Loop de Luxe green?</b><br />
    Of course!  Our main office uses green office supplies and runs on wind and sun energy and our Loop de Luxe boxes and packaging is made from recycled material, which we try to keep minimal.  We love local, which is why we promote shopping by Region!
    </li>
  </ol>
</div>
<div id='how-it-works'>
  <h3>How Loop de Luxe works</h3>
  <ol class='roman-list'>
    <li><b>Invite your friends</b><br />
      Membership is free and the more friends you invite, the more you save!
    </li>
    <li><b>We're connected</b><br />
      Get In the Loop Blog on our site to  get connected with creative styles, great designs by fantastic designers, and more.  Upload your fantastic photos to our blog and we’ll daily display the best of what’s around on our blog.<br />
      You can tweet, post or email anyone, anytime through our Twitter, Facebook, and e-mail features on each page
    </li>
    <li>
      <b>Do I have to pay for Loop de Luxe membership?</b><br />
      No way!  We want you to bring you the best design possible, in the easiest way possible.
    </li>
    <li>
      <b>What happens if I forget my sign-in information?</b><br />
      No worries, simply select “Forgot Password” (under the member sign-in box) and go from there.
    </li>
    <li>
      <b>How are the products chosen for each sale?</b><br />
      We like when people feel good and enjoy what they’re wearing.  We are passionate about designers who craft well-made, fresh, and unconventional, design.  To find these designs means committing ourselves to the art of the couture hunt – no cobblestone alley to small, no quaint mountain village to high, for the love of design, we’ll be there.  We’ll bring our discoveries to your front door, delivering not only hand-picked art, but the story behind it.
    </li>
    <li>
      <b>How often are sales held?</b><br />
      Every weekday and night.
    </li>
    <li>
      <b>How long does each sale last?</b><br />
      The Daily Sale lasts until it sells out so it’s best to get there early
      Our Boutique is open 24 hours a day, 7 days a week
      Surprise de Luxe – Unannounced surprise sale with extremely limited of available pieces.  Members will be alerted of this sale via e-mail (and text if enabled)
    </li><li>
      <b>How do I know if what I buy will fit me?</b><br />
      We post the size charts directly under the designer bio.  If an item isn’t the ideal fit, simply send it back after visiting our Return Policy page.
    </li>
    <li>
      <b>Can I order by phone?</b><br />
      For now, purchases need to be placed through Loop de Luxe.com <div style='display:none;'>or our LdL iPhone app.</div>
    </li>
  </ol>
</div>
<div id='helpful-hints'>
  <h3>Helpful Loop de Luxe Hints</h3>
  <ol class='roman-list'>
    <li>
      <b>Get to the Daily Sale early</b><br />
      The Daily Sales start at 1p.m. EST and sells out quickly.<br />
      The posted price remains unchanged throughout the sale<br />
      We present all available stock at the beginning of a sale.
    </li>
    <li>
      <b>Don’t wait on the Daily Sale</b><br />
      Because of high Loop de Luxe design demands, the Daily Sale items will only remain in your cart for 15 minutes.  A time reminder will pop-up will appear few minutes before the items return to the Loop de Luxe inventory.
    </li>
    <li>
      <b>Wish List</b><br />
      See something that’ sold out?  Add it to your wish list and if the designer has more available we’ll notify you via e-mail.
    </li>
    <li>
      <b>Invite Friends get in the Loop de Luxe!</b><br />
      For every friend you invite who makes a purchase, we will deposit Loop de Luxe Bucks straight into your member account!
    </li>
    <div id='iphone' style='display:none'>
      <b>Shop the Loop on the road!</b><br />
      Download LdL to your iPhone free!
    </div>
  </ol>
</div>

<div id='payment'>
  <h3>PAYMENT</h3>
  <ol class='roman-list'>
    <li>
      <b>How is sales tax calculated?</b><br />
    The sales tax quoted at time of checkout is only an estimate. The final total sales tax will be reflected on your invoice and will include state and local taxes, as well as any applicable rebates or fees. Loop de Luxe  is currently obligated to collect sales tax in California, New York, and Kentucky. Each state's tax laws specify what purchases are subject to sales tax. No sales tax is charged when purchasing e-gift cards; however, purchases paid for with e-gift card credits may be subject to tax. For services (spa treatments, club memberships, dining experiences) and tickets to events (concerts, shows) sales tax is generally charged based on where the service or event is held and not the billing or shipping address of the customer. Important Sales Tax Information for Colorado Customers: Loop de Luxe is not obligated to, and does not, collect Colorado sales tax. Your purchase is subject to Colorado sales tax unless it is specifically exempt from taxation. The purchase is not exempt merely because it is made over the Internet or by other remote means. The State of Colorado requires that the taxpayer file a sales/use tax return at the end of the year reporting all of the purchases that were not taxed and pay tax on those purchases. Retailers that do not collect Colorado sales tax are obligated to provide purchasers an end-of-year summary of purchases in order to assist purchasers in filing their tax report. Details of how to file this return may be found at the Colorado Department of Revenue's website, www.taxcolorado.com . Retailers that do not collect Colorado sales tax are required by law to provide the Colorado Department of Revenue with a report of the total amount of all of your purchases at the end of the year above certain thresholds set by the Colorado Department of Revenue.
    </li>
    <li>
      <b>Do you charge sales tax on shipping?</b><br />
      We are obligated by law to collect sales tax on shipping and handling fees associated with a taxable order shipped to a California address. For more information, please visit the California State Department of Tax and Finance website here.
    </li>
    <li>
      <b>What payment options do I have?</b><br />
      We accept American Express, Master Card, Visa and Discover. All payment methods require a U.S. billing address.
    </li>
    <li>
      <b>Is it safe to use my credit card?</b><br />
      Yes.  Loop de Luxe processes all credit card payments through Authorize.net, a secure online server.
    </li>
    <li>
      <b>How can I change my credit card details?</b><br />
      You may easily add a new credit card, delete a card or change your credit card information in My Info under Credit Cards and Billing.
    </li>
  </ol>
</div>
<div id='returns'>
  <h3>RETURNS</h3>
  <ol class='roman-list'>
    <li>
      <b>What is your Return Policy?</b><br />
      Loop de Luxe accepts returns on clothing and footwear for store credit and offers free return shipping. Returnable items should be shipped back to our returns address within 13 days. Please be sure to return only unused, unworn, unwashed and undamaged goods.  Please return the items in their original packaging, including: plastic wrap, hang tags on garments, shoeboxes, dust bags and gift boxes.<br /><br />

      To return your item, please click here for your printable UPS shipping label and return slip.  Please place the return slip in the box with your item and drop your package off at the nearest UPS location.<br /><br />

      We can return the majority of items, but unfortunately the following items are non-returnable, and non-refundable:<br />
      <ul class='circle-list'>
        <li>Bags</li>
        <li>Socks</li>
        <li>Underwear</li>
        <li>Leather goods</li>
        <li>Swimwear</li>
        <li>Vintage items</li>
        <li>Watches</li>

      </ul>
    </li>
    <li>
      <b>What is account credit?</b><br />
      Account Credit is issued to your account once we receive the returned merchandise.  Return shipping is free and your account credit is applied to your next Loop de Luxe purchase.  Return shipping is free.  We call Loop de Luxe account credit “Loop de Luxe Bucks” and you can click here to view your Loop de Luxe Bucks.
    </li>
    <li>
      <b>How do I return an item?</b><br />
      Print your pre-paid UPS shipping label and enclose the returns slip with your shipment. Then drop your package off at your nearest UPS location.
    </li>
    <li>
      <b>My non-returnable item is damaged. What do I do?</b><br />
      The easiest way to contact us is via our online contact page.  If you prefer assistance via phone, please call us at <%= t :loop_phone_number %>.  No one likes damaged design - we’ll try to help as quickly as possible.
    </li>
    <li>
      <b>How long does it take to see a refund reflected in my Account?</b><br />
      Once your return is processed, it will usually take 48 hours for a credit to appear in your account. On rare occasions, due to volume & capacity constraints, returns may take longer to process.
    </li>
    <li>
      <b>Do my Loop de Luxe Bucks expire?</b><br />
      You have an entire year to use your Loop de Luxe Bucks!  Go to Loop de Luxe Bucks to see your credit balance.
    </li>
  </ol>
</div>
<div id='shipping'>
  <h3>SHIPPING</h3>
  <ol>
    <li>
      <b>How long will it take to receive a shipment?</b><br />
      Orders selected for Next-Day Air shipping that are placed before 1pm ET will ship the same day. If you select Next-Day Air shipping on a Friday your package will not be delivered until Monday due to UPS shipping times. Delivery timelines vary from item to item. Refer to the product details page when you place your order for estimated delivery dates. A tracking number will be emailed to you when your order ships. This tracking number will allow you to check the delivery status of your order.<br /><br />

      Your default shipping address on your account can be modified by clicking here. If you have just made a purchase, you have a five-minute window to modify the shipping information on your order in your Account.
    </li>
    <li>
      <b>Does you ship overseas?</b><br />
      We do ship oversees.  Standard shipping rates will apply to all overseas orders.
    </li>
    <li>
      <b>How can I track my order?</b><br />
      As soon as your order ships, you will receive your shipment shopping number in a confirmation email.  For your security reasons, only a sales record of your transaction is kept on Loop de Luxe; your credit card details are not held on the site.
    </li>
    <li>
      <b>Is my package insured?</b><br />
      Yes. Merchandise in transit from Loop de Luxe to the delivery address is insured against theft and accidental damage at no cost to you.
    </li>
    <li>
      <b>What are the Loop de Luxe shipping rates?</b><br />
      We ship orders UPS unless otherwise indicated by you.  If you are shipping to an APO or U.S. post office box, Loop de Luxe will ship your order via USPS Priority Mail. Express delivery is available at express delivery rates indicated during the checkout process.
    </li>
    <li>
      <b>How can I modify my order?</b><br />
      You have a five-minute window to modify or cancel your order after you place it. You can do this once you receive your order confirmation by clicking the Print Receipt option and choosing Modify or Cancel. After five minutes, you can no longer change or cancel your order.
    </li>
    <li>
      <b>Is shipping free?</b><br />
      Yes!
    </li>
  </ol>
</div>
<div id='customer-service'>
  <h3>Customer Service</h3>
  <ol class='roman-list'>
    <li>
        If you have further questions, contact Loop de Luxe via our simple <%= link_to 'online form', loop_customer_service_path %> or call <%= t :loop_phone_number %>  We are here for you from <%= t :customer_service_hours %>.
    </li>
    <li>
      <b>What is the response time to a member inquiry?</b><br />
      No one likes waiting, so we promise to address your concern as promptly as possible.  In the unfortunate event that you have to wait more than <%= t(:minimum_wait_minutes)%> minutes, we’ll credit your account one dollar for every minute we keep you waiting thereafter.
    </li>

  </ol>
</div>
