<h1> <%= @product.name %> </h1>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Images:</strong>
  <%= @product.images.each do |image| %>
    <%= image_tag(image.photo.url(:product)) %>
  <% end %>
</p>

<p>
  <%= link_to "View All", seller_admin_products_path, :class => 'button' %>
</p>
