<h1> <%= @product.name %> </h1>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Product Images:</strong>
  <%= @product.images.each do |image| %>
    <%= image_tag(image.photo.url(:product)) %>
  <% end %>
</p>

<p>
  <strong>Variant Details:</strong>
  <ul>
    <%= @product.variants.each do |variant| %>
      <li>
        <%= image_tag(variant.featured_image) %><br/>
        Brand: <%= variant.brand_name %><br/>
        Qty in Stock: <%= variant.count_on_hand %><br/>
        Qty pending to customer: <%= variant.count_pending_to_customer %><br/>
        Qty available to sell: <%= variant.count_available %>
      </li>
    <% end %>
  </ul>
</p>

<h3> Keywords </h3>
<p>
  <%= raw @product.set_keywords %>
</p>

<h3> Description </h3>
<p>
  <%= raw @product.description %>
</p>

<p>
  <%= link_to "View All", seller_admin_products_path, :class => 'button' %>
</p>
