<div id="header_wrapper" class='bp'>
  <div class="container logged-in" id="header">
    <h1 id="logo">
      <%= link_to image_tag( "logos/#{Image::MAIN_LOGO}.png", :alt => 'hadean image.'), root_path %>
    </h1>
    <ul id="menu-main">
      <li id="menu-main-discover">
        <a href="/"> <strong> Flash Sale </strong> </a>
      </li>

      <li class="" id="menu-main-cart">
        <% if current_user %>
          <%= link_to(myaccount_user_path, :id => 'cart_items_buttons') do %>
              <strong> My Info </strong>
          <% end %>
        <% else %>
          <%= link_to(shopping_cart_items_path, :id => 'cart_items_buttons') do %>
              <strong> About Us </strong>
          <% end %>
        <% end %>
      </li>
      <li class="" id="menu-main-philosophy">
          <%= link_to(philosophy_path, :id => 'philosophy_button') do %>
              <strong> Philosophy </strong>
          <% end %>
      </li>

      <li class="" id="menu-main-contact">
          <%= link_to(wish_items_path, :id => 'wish_items_button') do %>
              <strong> Contact </strong>
          <% end %>
      </li>
      <li class="" id="menu-main-user">
        <div>
          <% unless most_likely_user %>
            <strong><%= link_to 'Login',  login_path %></strong> or
            <span><%= link_to 'Sign up', signup_path %></span>
          <% else %>
            <strong>Hi <%= most_likely_user.first_name %></strong>
            <span>(<%= link_to 'not you?', logout_path %>)</span>
          <% end %>
        </div>
      </li>

    </ul>
  </div>
</div>