<%= render :partial => '/admin/seller/sub_header'%>
<h1> Edit <%= @company.name %> </h1>

<%= form_for(@company, :url => admin_seller_company_path(@company)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Show', admin_seller_company_path( @company ), :class => 'button' %> |
  <%= link_to 'View All', admin_seller_companies_path, :class => 'button' %>
