<%= render :partial => '/admin/seller/sub_header'%>
<h1> Company </h1>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_seller_company_path(@company), :class => 'button' %> |
  <%= link_to 'Edit Images', edit_admin_seller_images_company_path(@company), :class => 'button'%> |
  <%= link_to "View All", admin_seller_companies_path, :class => 'button' %>
</p>
