<h1> Measurements </h1>

<p>
  <strong>Shirt Size:</strong>
  <%= @measurement.shirt_size %>
</p>

<p>
  <strong>Dress Size:</strong>
  <%= @measurement.dress_size %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @measurement.waist %>
</p>

<p>
  <strong>Pant Length:</strong>
  <%= @measurement.pant_length %>
</p>

<p>
  <strong>Shoe Size:</strong>
  <%= @measurement.shoe_size %>
</p>

<p>
  <%= link_to "Edit", edit_myaccount_measurement_path(@measurement), :class => 'button' %>
</p>
