<h1> Measurements </h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for measurement in @measurements %>
    <tr>
      <td><%= measurement.name %></td>
      <td><%= link_to "Show", myaccount_measurement_path(measurement) %></td>
      <td><%= link_to "Edit", edit_myaccount_measurement_path(measurement) %></td>
      <td><%= link_to "Destroy", myaccount_measurement_path(measurement), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Measurement", new_myaccount_measurement_path, :class => 'button' %></p>
