<h1> City </h1>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @city.state_name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @city.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @city.longitude %>
</p>

<p>
  <%= link_to "Edit", edit_admin_seller_city_path(@city), :class => 'button' %> |
  <%= link_to "Destroy", admin_seller_city_path(@city), :confirm => 'Are you sure?', :method => :delete, :class => 'button' %> |
  <%= link_to "View All", admin_seller_cities_path, :class => 'button' %>
</p>
