<% content_for :head do -%>
  <%= stylesheet_link_tag 'tables.css' %>
<% end %>

<%= render :partial => '/admin/seller/sub_header'%>

<h1> Tickets </h1>

<% if @tickets.empty? %>
  You Currently don't have an tickets!  Click 'New Ticket' if you have an issue.
<% else %>
  <table class='pretty_table'>
    <thead>
    <tr>
      <th><%= sortable "subject"%></th>
      <th><%= sortable "status" %></th>
      <th>Assigned to</th>
      <th colspan=3></th>
    </tr>
    </thead>
    <% for ticket in @tickets %>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= ticket.subject %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.assigned_name %></td>
        <td><%= link_to "Show", admin_seller_ticket_path(ticket) %></td>
        <td><%= link_to "Edit", edit_admin_seller_ticket_path(ticket) %></td>
        <td><%= link_to "Destroy", admin_seller_ticket_path(ticket), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= will_paginate @tickets %>

<p><%= link_to "New Ticket", new_admin_seller_ticket_path, :class => 'button white-button medium-button' %></p>