<% content_for :head do -%>
  <%= stylesheet_link_tag 'address_form.css' %>
<% end %>

<%= form_for(@shopping_address, :as => :address, :url => shopping_addresses_path) do |f| %>
  <% if @shopping_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_address.errors.count, "error") %> prohibited this shopping_address from being saved:</h2>

      <ul>
      <% @shopping_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field column">
      <ol id='add'>
          <li>
            <div class="field column">
              <%= f.label :first_name, 'First Name *' %>
              <%= f.text_field :first_name, :class => 'span-3' %>
            </div>

            <div class="field column">
              <%= f.label :last_name, 'Last Name *' %>
              <%= f.text_field :last_name, :class => 'span-3' %>
            </div>
          </li>


          <li><%= f.label :address1, 'Address *' %>
              <%= f.text_field :address1, :class => 'span-7' %>
          </li>
          <li><%= f.label :address2, 'Address line 2' %>
              <%= f.text_field :address2, :class => 'span-7' %>
          </li>

          <li>
              <%= f.label :state_id, 'State/Province *' %>
              <%= f.select  :state_id, @states,
                            :include_blank => true %>
          </li>
          <li>
            <div class="field column">
              <%= f.label :city, 'City *' %>
              <%= f.text_field :city, :class => 'span-4' %>
            </div>

            <% if nil %>
              <div class="field column">
                <%= f.text_field :state_name, :class => 'span-3' %>
              </div>
            <% end %>

            <div class="field column">
              <%= f.label :zip_code, 'Zip Code *' %>
              <%= f.text_field :zip_code, :class => 'span-2' %>
            </div>
          </li>
          <li>
            <div class="field">
              <%#= f.input :phone %>
            </div>

            <div class="field column">
              <%= check_box_tag :default, 1, f.object.default? %>
              <%= f.label :default, "Make this my default shipping method",
                                    :class => 'auto_width',
                                    :style => 'display:inline;' %>
            </div>
          </li>
          <li>
            <div class="actions column prepend-1">
              <%= f.submit %>
            </div>
          </li>
    </ol>
  </div>

<% end %>
